iniconfig==2.3.0
numpy==2.4.4
packaging==26.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
-e git+ssh://git@github.com/Cook-hue/SCALib_information.git@7102e31d82e7807e56468753fe78e06aa318b2a3#egg=scalib
scipy==1.17.1
semantic-version==2.10.0
setuptools==82.0.1
setuptools-rust==1.12.1
setuptools-scm==10.0.5
setuptools-scm-git-archive==1.4.1
vcs-versioning==1.1.1
wheel==0.46.3
